header
  h2 Horde
  p use the wsad keys to move and the mouse to focus and fire.

canvas#canvasscript(src='/javascripts/index.js')

footer
  p made by 
    a(href='www.twitter.com/atleastimtrying') @atleastimtrying