div.topbar
  div.topbar-inner
    div.container-fluid
      a.brand Horde
      ul.nav
        li 
          a#new-game New Game
        li
          a#view-games-in-progress View Active Games
        li
          a#view-invites View Invites
        li
          span#login

div.container-fluid
  div.sidebar
    div.well
      h5 stats
      ul
        li.ammo
        li.kills
        li.deaths
        li.health
       
  div.content
    canvas#canvas
  div.chat
    input(type='text')
  div.users
    ul
      li
        span.icon
        a.name
        span.status
  div.games
    ul
      li
        span.name
        span.players
          a john
          ,
          a mary
          ,
          a peter
        a.join
      li
        span.name
        span.players
          a john
          ,
          a mary
          ,
          a peter
        a.join
      li
        span.name
        span.players
          a john
          ,
          a mary
          ,
          a peter
        a.join

footer
  p made by 
    a(href='www.twitter.com/atleastimtrying') @atleastimtrying