!!!
html
  head
    title= title
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://platform.twitter.com/anywhere.js?id=cuJUFF6sdL2l4ldoYZ2Q&v=1')
    script(src='/javascripts/libs/underscore.js')
    script(src='/javascripts/libs/backbone.js')
    script(src='/javascripts/libs/jquery-1.5.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/libs/require.js',data-main='/javascripts/models/init')
  body!= body