!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://platform.twitter.com/anywhere.js?id=bHKZfNXBQS0iCxZZ9FTJDg&v=1')
    script(src='/javascripts/libs/processing.js')
    script(src='/javascripts/libs/jquery-1.5.min.js')
    script(src='/javascripts/libs/underscore.js')
    script(src='/javascripts/libs/backbone.js')
    script(src='/socket.io/socket.io.js')
    script(data-main='/javascripts/modeals/app.js' src='/javascripts/libs/r.js')
ww  body!= body
    span(id='login')