body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas{
	width:200px;
	height:200px;
	margin:-100px;
	position:absolute;
	top:50%;
	left:50%;
}

h2{
	position:absolute;
}